<p-toast></p-toast>
<div class="card m-4">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <h2 class="text-2xl font-bold text-gray-700">Historial de Movimientos</h2>
    </div>
    
    <div class="p-toolbar-group-end" *ngIf="usuarioRol === 'Administrador'">
      <p-dropdown 
        [options]="opcionesFiltro" 
        [(ngModel)]="filtroSeleccionado" 
        placeholder="Filtrar por tipo"
        (onChange)="cargarMovimientos()">
      </p-dropdown>
    </div>
  </p-toolbar>

  <p-table [value]="movimientos" [paginator]="true" [rows]="10" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Producto</th>
        <th>Usuario</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Cantidad</th>
        <th>Fecha</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movimiento>
      <tr>
        <td>{{ movimiento.nombre_producto }}</td>
        <td>{{ movimiento.nombre_usuario }}</td>
        <td class="text-center">
          <p-tag [severity]="getSeverity(movimiento.tipo_movimiento)" [value]="movimiento.tipo_movimiento"></p-tag>
        </td>
        <td class="text-center font-bold" 
            [ngClass]="{'text-green-600': movimiento.tipo_movimiento === 'entrada', 'text-orange-600': movimiento.tipo_movimiento === 'salida'}">
          {{ movimiento.tipo_movimiento === 'entrada' ? '+' : '-' }}{{ movimiento.cantidad }}
        </td>
        <td>{{ movimiento.fecha_movimiento | date:'dd/MM/yyyy h:mm a' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="text-center p-4">No se encontraron movimientos.</td>
      </tr>
    </ng-template>
  </p-table>
</div>