/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";

html, body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
